/* .homepageCont{
    background: url('../images/wave.svg') no-repeat center center/cover;
    width: 100vw;
    height: 19rem;
    margin: 0;
} */

.topImage{
    background: url('../images/upsideDownWave.svg') no-repeat center center/cover;
    width: 100vw;
    height: 19rem;
}
.bottomImage{
    background: url('../images/wave.svg') no-repeat center center/cover;
    width: 100vw;
    height: 19rem;
    position: absolute;
    bottom: 0;
}