html,
body {
    margin: 0;
    padding: 0;
}
.App {
    text-align: center;
    display: flex;
    margin: 0;
    padding: 0;
}
/* :root {
  --white: #F5F5F5;
  --black: #001F29; 
  --darkBlue: #003459;
  --blue: #007EA7;
  --lightBlue: #00A8E8;
} */
